{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-sA+e2gq2g0vYqfQ0gk2xD0om+g1xZq2Y0q6JZf+tnmM=" crossorigin=""/>

<link rel="stylesheet" href="{% static 'trendmap.css' %}">

<h1>{{ template_data.title }}</h1>

<div id="trendmap-container">
  <div id="map"></div>

  <aside id="region-panel">
    <h2>Selected Region</h2>
    <div id="region-info">Click a continent to view trending movies here.</div>
    <hr/>
    <h3>Placeholder: Trending Movies</h3>
    <div id="trending-placeholder">
      <p>No region selected.</p>
    </div>
  </aside>
</div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-o9N1j7k+Z6k1g6r1w6rO8XcZQbqGQ0s0G2qv4Wf3Q=" crossorigin=""></script>
<script src="{% static 'trendmap.js' %}"></script>
{% endblock %}
